<!DOCTYPE html> 
<html> 
<head> 
    <style> 
        .head { 
            font-size:40px; 
            color:#FF7F50; 
            font-weight:bold; 
        } 
        body { 
            margin: 0 auto; 
            background-position:center; 
            background-size: contain; 
        } 
    </style> 
</head> 
  
<body> 
    <header> 
        <div class="head"><%= current_user.username %>'s Items</div> 
    </header> 

  
<% @items.each do |item| %>
  <%= item.name %>
  <br>
  <%= item.brand %>
  <br>
  <%= item.price %>
  <br>
  <%= item.link %>
  <br>
  <a href="/items/<%=item.id%>/edit">Edit</a>
  <br />
<% end %>