    <header class="red-text text-lighten-2"> 
      <center>
        <div style="font-size:60px; font-family:verdana;"><%= current_user.username %> ITEMS</div> 
      </center>
    </header> 
    <br>
    <br>
   <div class="card-panel">
        <% @items.each do |item| %>
          <p>NAME: <%= item.name %></p>
          <p>BRAND: <%= item.brand %></p>
          <p>PRICE: $ <%= item.price %></p>
          <a href="<%= item.link %>">LINK TO WEBSITE</a>
          <br>
        <a href="/items/<%=item.id%>/edit">EDIT</a>
    <br>
    <br>
         <% end %>
  </div>