<!DOCTYPE html> 
<html> 
<head> 
    <style> 
        .head { 
            font-size:40px; 
            color:#FF7F50; 
            font-weight:bold; 
        } 
    </style> 
</head> 
  
<body> 
    <header> 
        <div class="head"><%= current_user.username %>'s Items</div> 
    </header> 

<% @items.each do |item| %>
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= item.link %>" width="200" height="300">
          <br>
          <span class="card-title"><%= item.name %></span>
          <br>
          <span class="card-title"><%= item.brand %></span>
          <br>
          <span class="card-title"><%= item.price %></span>
          <br>
          <a href="<%= item.link %>">Link to website</a>
          <br>
        </div>
      </div>
    </div>
  </div>
   <br>
  <a href="/items/<%=item.id%>/edit">Edit</a>
  <br>
  <br>
  <% end %>