    <body>
      <center>
        <div style="color:white; font-size:50px; font-family:impact"><%= current_user.username %> LIST</div> 
      </center>
    </body>
   <div class="row">
    <div class="col s12 m15">
      <div class="card black">
        <div class="card-content white-text">
          <div class="card-action">
          <% @items.each do |item| %>
          <p>NAME: <%= item.name %></p>
          <p>BRAND: <%= item.brand %></p>
          <p>PRICE:$<%= item.price %></p>
          <a href="<%= item.link %>">LINK TO WEBSITE</a>
          <a href="/items/<%=item.id%>/edit">EDIT</a>
          <br>
          <br>
            <% end %>
        </div>
        </div>
       </div>
      </div>
    </div>