<h1>NAME: <%= @item.name %></h1>
<p>BRAND: <%= @item.brand %></p>
<p>PRICE:$ <%= @item.price %></p>
<p>LINK: <%= @item.link %></p>

<form action="/items/<%= @item.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="DELETE">
</form>

