<h1>Name: <%= @item.name %></h1>
<p>Brand: <%= @item.brand %></p>
<p>Price: <%= @item.price %></p>
<p>Link: <%= @item.link %></p>

<form action="/items/<%= @item.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>

